img {
    flex-shrink: 0;
}

.bank-miniature {
    background: linear-gradient(90deg, rgba(156, 198, 144, 0.75), rgba(100, 180, 171, 0.75));
    border-radius: 25px;
    height: 250px;

    position: relative;
    overflow: hidden;
}

    .miniature__btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0 55px;
    }

        .miniature__btn {
            position: relative;
            z-index: 1;

            background: none;
            border: none;
            opacity: 0.5;
            
            transition: all 0.5s ease-in-out;

            &:hover {                
                opacity: 1;
                cursor: pointer;
            }

            &:first-of-type {
                transform: scaleX(-1);
            }

            & img {
                width: 65px;
                height: 65px;
            }
        }

        .miniature__photos {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 1.25s ease-in-out;
        }

            .miniature__photo-item {
                display: flex;
                justify-content: space-between;

                width: 70%;
                height: 100%;
                position: absolute;

                transition: all 1.5s ease-in-out;
            }

                .miniature__photo-descr {
                    width: 450px;
                    margin-right: 50px;
                    padding: 35px 0;
                }

                    .miniature__photo-descr > * {
                        color: #fff;
                        text-shadow: 1px 1px 2px darkolivegreen;
                    }

                    .miniature__photo-header {
                        font-size: 26px;
                        cursor: default;
                    }

                    .miniature__photo-text {
                        margin: 15px 0 30px 0;
                        font-size: 18px;
                        cursor: default;
                    }

                    .miniature__photo-btn {
                        border: none;
                        border-radius: 10px;
                        background: transparent;
                        padding: 10px 25px;
                        font-size: 16px;
                        background-color: green;
                        cursor: pointer;

                        transition: all 0.5s ease-in-out;

                        &:hover {
                            background-color: darkgreen;
                        }
                    }

                .miniature__photo-item img {
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                #miniatureFirstPhoto {
                    transform: translateX(-150%);
                }

                #miniatureSecondPhoto {
                    transform: translateX(0);
                }

                    #miniatureSecondPhoto img {
                        padding: 40px 80px;
                    }

                #miniatureThirdPhoto {
                    transform: translateX(150%);
                }

                #miniatureFourthPhoto {
                    transform: translateX(300%);
                }

                #miniatureFifthPhoto {
                    transform: translateX(450%);
                }

.bank-offer {
    margin: 25px 0;
    padding: 25px 45px;
}

    .bank-offer > * {
        transform: translateX(-15px);
    }

    .offer__header {
        font-size: 24px;
        margin-bottom: 25px;
        margin-left: 15px;
    }

    .offer__blocks-wrapper {
        border-top: 1.5px solid #bababa;
        border-bottom: 0.5px solid #bababa;
        position: relative;
        margin-bottom: 25px;
        overflow: hidden;
    }

        .offer__blocks-wrapper > * {
            display: flex;
            justify-content: space-between;
            margin: 15px;

            transition: all 1.25s ease-in-out;
        }

        #offerBlocksPerson {
            bottom: 0;
            position: absolute;
            transform: translateY(-270px);
            width: 1220px;
        }

                #offerBlocksPerson > * > * {
                    background: radial-gradient(circle at 175%, rgb(154, 181, 106), rgb(154, 181, 106) 50%, rgb(131, 156, 88) 75%);
                }

        #offerBlocksBusiness {
            transform: translateY(0px);
        }

                #offerBlocksBusiness > * > * {
                    background: linear-gradient(90deg, #efefef, #dedede);
                }

                    #offerBlocksBusiness > * > * > * {
                        color: #000;
                    }

            .offer__blocks-inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

                .offer__block {
                    width: 450px;
                    height: 150px;
                    padding: 25px;

                    border-radius: 10px;

                    cursor: pointer;
                    transition: all 0.5s ease-in-out;

                    box-shadow: 0 2.5px 7.5px #999;

                    position: relative;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                @media (max-width: 1675px) {
                    .offer__block {
                        width: 350px;
                    }
                }

                    .offer__block > * {
                        position: absolute;
                        color: white;
                    }

                    .offer__block-header {
                        font-size: 16px;
                        /* text-shadow: 1px 1px 5px green; */
                    }

                    .offer__block-text {
                        top: 35%;
                        width: 175px;
                        font-size: 14px;
                    }

                    .offer__block-icon {
                        width: 150px;
                        height: 150px;
                        bottom: 0;
                        right: 0;
                    }

/* .bank-calc {
    margin: auto;
    width: 85%;
} */

        .calc__switch {
            border: none;
            border-radius: 25px;
            padding: 10px 30px;
            font-weight: 600;
            font-size: 18px;
            background: #e4e4e4;

            &:last-of-type {
                margin-left: 15px;
            }

            transition: all 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }

        .calc__switch_active {
            background: black;
            color: white;
        }

    .calc__menu {
        height: 450px;
        margin: 25px 0;
        border: 3px solid #c4c4c4;
        border-radius: 15px;
        overflow: hidden;
    }

        .credit__menu,
        .deposit__menu {
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
    
            padding: 50px;
            column-gap: 50px;
    
            position: relative;
    
            transition: all 0.5s ease-in-out;
        }
        
        .credit__menu {
            opacity: 0;
        }

        .credit__menu .calc__shell {
            height: 325px;
        }

            .calc__subscribe-wrapper {
                display: flex;
                width: 75%;
                justify-content: space-between;
                align-items: center;

                padding: 25px;
                background: white;
                border-radius: 25px;

                margin: 15px 0;
            }

            .calc__subscribe-line {
                width: 1px;
                height: 50px;
                background: #000;
            }

                .calc__subscribe-icon-wrapper {
                    display: flex;
                    align-items: center;
                }

                    .calc__subscribe-icon {
                        margin-right: 15px;
                    }

            .calc__subscribe-sum {
                font-weight: bold;
                font-size: 22px;
            }

            .deposit__menu > *,
            .credit__menu > * {
                margin-left: 15px;
            }

            .calc__header {
                margin-bottom: 35px;
            }

            .calc__input-wrapper {
                margin-bottom: 25px;
                position: relative;
            }

                .calc__input {
                    transition: .5s ease-in-out;

                    font-size: 14px;

                    position: relative;
                    margin-top: 15px;
                    display: block;
                    width: 85%;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #bcbcbc;
                    outline: none;
                    padding: 0 20px;
                    color: #000;

                    &::placeholder {
                        opacity: 0.75;
                    }

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }
                }

                .calc__input-sign {
                    font-size: 18px;
                }

            .calc__lower-sign {
                padding-top: 15px;
                font-size: 14px;
                opacity: 0.5;
            }

        .deposit__menu-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

            .calc__shell {
                width: 90%;
                height: 260px;
                background: #efefef;
                border-radius: 25px;
                border: 2.5px solid #cdcdcd;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .calc__shell-sign {
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                .calc__shell-sum {
                    font-size: 28px;
                    margin-bottom: 15px;
                }

                .calc__shell-line {
                    width: 400px;
                    height: 1px;
                    background: #767;
                    margin-bottom: 15px;
                }

                .calc__shell-nums {
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                }

                    .calc__shell-num {
                        font-weight: bold;
                    }

                .calc__shell-submit {
                    margin-top: 15px;
                    padding: 10px 15px;
                    color: #fff;
                    background: green;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 18px;

                    transition: all 0.5s ease-in-out;

                    &:hover {
                        background: rgb(0, 100, 0);
                    }
                }


            .calc__more {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                margin-top: 25px;
                cursor: pointer;
            }

                .calc__more-text {
                    font-size: 14px;
                }

                .calc__more-icon {
                    margin-left: 10px;
                    height: 12.5px;
                }

.bank-safety {
    margin: 25px 0;
    padding: 25px 45px;
}

    .safety-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        position: relative;
    }

        .safety-top__header {
            font-size: 24px;
        }

        .safety-top__link-wrapper {
            display: flex;
            align-items: center;

            position: absolute;
            right: 0;

            transition: all 0.5s ease-in-out;
        }

            .safety-top__link {
                margin-right: 10px;
                color: #64b4ab;
                cursor: pointer;
            }

    .safety-bottom {
        display: flex;
        justify-content: space-between;
    }

            .safety-bottom__item {
                display: block;
            }

                .safety-bottom__date-wrapper {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }

                    .safety-bottom__date-icon {
                        margin-right: 10px;
                    }

                    .safety-bottom__date-sign {
                        font-size: 14px;
                    }

                .safety-bottom__content {
                    width: 365px;
                    font-size: 18px;
                }

@media (max-width: 1440px) {
    .bank-calc {
        display: none;
    }

    .bank-offer {
        padding: 25px 15px;
    }
    
    .bank-safety {
        padding: 10px 35px 10px 35px;
    }

        .safety-top__header {
            font-size: 20px;
        }

        .safety-top__link-wrapper {
            display: none;
        }

        .safety-bottom {
            display: block;
        } 

            .safety-bottom__item {
                margin-bottom: 25px;
            }

            .safety-bottom__item:last-child {
                margin-bottom: 0;
            }

                .safety-bottom__content {
                    width: 90%;
                    font-size: 14px;
                }
}

@media (max-width: 1280px) {
    .offer__block {
        width: 325px;
    }

    .offer__block-header {
        font-size: 14px;
    }

    .offer__block-text {
        font-size: 12px;
    }

    .offer__block-icon {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 1180px) {
    .offer__block {
        width: 300px;
    }
}

@media (max-width: 1180px) {
    .offer__block {
        padding: 15px;
    }

    .offer__block-text {
        top: 27.5%;
    }
}

@media (max-width: 1100px) {
    .offer__block {
        width: 250px;
    }

    .offer__block-icon {
        width: 100px;
        height: 100px;
    }

    .bank-miniature {
        height: 200px;
    }

    .miniature__btns-wrapper {
        padding: 0;
        position: absolute;
        bottom: -62.5px;
    }
    
        .miniature__btn:first-child {
            margin-left: 15px;
        }

        .miniature__btn:last-child {
            margin-right: 15px;
        }

            .miniature__btn img {
                width: 45px;
                height: 45px;
            }

    .miniature__photo-item {
        width: 100%;
    }

        .miniature__photo-item img {
            width: 35%;
            height: 50%;
            position: absolute;
            right: 0px;
            top: 10%;
        }

    #miniatureFirstPhoto {
        translate: 45% 0;
    }

        #miniatureFirstPhoto img {
            right: 2.5%;
            width: 30%;
        }

    #miniatureSecondPhoto img {
        width: 25%;
        height: 45%;
        top: 15%;
        right: 5%;
        padding: 0;
    }

    #miniatureThirdPhoto {
        translate: -45% 0;
    }
    
    #miniatureFourthPhoto {
        translate: -90% 0;
    }

        .miniature__photo-descr {
            padding: 0;
            padding: 20px;
        }

            .miniature__photo-descr * {
                font-size: 12px;
            }

            .miniature__photo-header {
                font-size: 16px;
            }

            .miniature__photo-text {
                max-width: 75%;
            }

        .miniature__photo-btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.75;
            transition: .15s ease-in-out;
        }

        .miniature__photo-btn:hover {
            background: green;
        }

        .miniature__photo-btn:active {
            background: #006400;
        }

}

@media (max-width: 900px) {
    .offer__header {
        margin: 0 0 15px 5px;
        font-size: 18px;
        width: 102.5%;
    }

    .offer__blocks-wrapper {
        margin: 0;
        width: 103.9%;
    }

        #offerBlocksPerson {
            display: none;
        }

        .offer__blocks-inner {
            display: block;
        }

            .offer__block {
                width: 90%;
                margin: 0 auto;
                height: 125px;
                margin-bottom: 20px;    
                transition: .15s ease-in-out;
            }

            .offer__block:last-child {
                margin-bottom: 5px;
            }

            .offer__block:hover {
                transform: scale(1);
            }

            .offer__block:active {
                transform: scale(1.05);
            }

                .offer__block-header {
                    font-size: 14px;
                }
}

@media (max-width: 425px) {
    .bank-calc {
        display: block;
    }

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .bank-offer {
        margin: 0;
        padding: 25px 15px;
        padding-right: 0;
    }

        .calc__menu {
            height: 315px;
        }

            .calc__menu * {
                transition: .2s ease-in-out;
            }

            .calc__switch {
                font-size: 14px;
                padding: 10px 25px;
            }

            .deposit__menu,
            .credit__menu {
                font-size: 12px;
                column-gap: 0;
                margin: -30px -40px;
                display: block;
            }

                .deposit__menu-right {
                    width: 125%;
                    height: 50%;
                    margin: 15px 10px;
                    align-items: center;
                }

                    .calc__shell {
                        display: block;
                        padding-top: 10px;
                        height: 115px;
                        position: relative;
                        width: 100%;
                    }

                        .calc__shell-line,
                        .calc__shell-nums {
                            display: none;
                        }

                        .calc__shell-sign {
                            display: flex;
                            justify-content: center;
                            font-size: 14px;
                            margin-bottom: 5px;
                        }

                        .calc__shell-sum {
                            display: flex;
                            justify-content: center;
                            font-size: 16px;
                        }

                        .calc__shell-submit {
                            width: 150px;
                            font-size: 12px;
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            translate: -50% 0;
                            transition: .15s ease-in-out;
                        }

                        .credit__menu .calc__shell-submit {
                            left: 50%;
                            translate: -50% 0;
                            width: 125px;
                            bottom: 20px;
                        }

                        .calc__shell-submit:hover {
                            background: green;
                        }

                        .calc__shell-submit:active {
                            background: #006400;
                        }

                        .calc__more {
                            display: none;
                        }

                    .calc__header {
                        margin-bottom: 20px;
                        width: 250px;
                    }

                    .calc__input-wrapper {
                        width: 130%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 15px;
                    }
                    
                    .calc__input-wrapper:last-of-type {
                        margin-bottom: 0;
                    }

                        .calc__input-sign {
                            font-size: 14px;
                            display: inline-block;
                            max-width: 125px;
                        }

                        .calc__input {
                            width: 125px;
                            height: 35px;
                            margin: 0;
                            margin-left: 5px;
                        }

                    .calc__lower-sign {
                        display: none;
                        width: 150%;
                        font-size: 9px;
                    }

            .credit__menu {
                margin: 7.5% -15%;
            }

                .credit__menu-right {
                    margin-top: 15px;
                    margin-left: 20px;
                }

                .credit__menu .calc__shell-sign {
                    margin-top: 10px;
                }

                .credit__menu .calc__shell-sum {
                    margin: 0 auto;
                }

                .credit__menu .calc__header {
                    margin-top: 10px;
                }

                .credit__menu .calc__shell {
                    height: 180px;
                }

                .credit__menu-left {
                    width: 130%;
                }

                .credit__menu-left .calc__shell {
                    position: relative;
                    height: 135px;
                }

                    .calc__subscribe-wrapper {
                        height: 55px;
                        width: 55px;
                        
                        position: absolute;
                        bottom: -5px;
                        right: 10%;

                        display: none;
                    }

                    .calc__subscribe-sum,
                    .calc__subscribe-line {
                        display: none;
                    }

                        .calc__subscribe-icon {
                            width: 35px;
                            height: 35px;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            translate: -50% -50%;
                        }

                        .calc__subscribe-text {
                            display: none;
                        }

                    .deposit__menu-right {
                        height: 275px;
                    }
}