.mortgage-main {
    margin: 45px 0;
}

    .miniature {
        margin: 25px auto;
        width: 90%;
    }

        .miniature__header {
            font-size: 28px;
        }

        .miniature__content-wrapper {
            display: flex;
            justify-content: space-between;
        }

            .miniature__content {
                width: 100%;
                height: 175px;
                border-radius: 25px;
                background: #ececec;
                margin-top: 25px;
            }

    .catalog {
        margin: 30px 0 60px 0;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

        .catalog > * {
            margin: 30px 0;
        }

        .offer {
            display: flex;
            align-items: center;
        }

            .offer__icon {
                width: 200px;
                height: 200px;
                margin-right: 35px;
                border-radius: 100%;
                transition: all 0.5s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    /* box-shadow: 0 1px 10px #eee, 0 1px 15px #aaa; */
                }
            }

                .offer__content > * {
                    margin: 10px 0;
                }

                .offer__header {
                    font-size: 22px;
                }

                .offer__descr {
                    width: 250px;
                }

                .offer__table {
                    padding: 15px 0;
                }

                    .offer__table td,
                    .offer__table th {
                        padding: 2.5px 25px 2.5px 10px;
                    }

                .offer__btns-wrapper {
                    display: flex;
                    align-items: center;
                }

                    .offer__btns-wrapper > * {
                        cursor: pointer;
                    }
                
                    .offer__submit {
                        background: #5eb745;
                        font-size: 16px;
                        color: #fff;
                        padding: 10px 15px;
                        border: none;
                        border-radius: 15px;
                        margin-right: 40px;

                        transition: all 0.5s ease-in-out;

                        &:hover {
                            text-shadow: 0 0 2.5px #fff;
                            background: green;
                        }
                    }

                    .offer__more-wrapper {
                        display: none;
                        /* display: flex; */
                        align-items: center;
                    }

                        /* .offer__more-text {

                        } */

                        .offer__more-icon {
                            margin-left: 10px;
                            height: 15px;
                        }

@media (max-width: 1180px) {
    .offer__icon {
        width: 150px;
        height: 150px;
    }

    .offer__header {
        font-size: 18px;
    }

    .offer__descr,
    .offer__submit {
        font-size: 16px;
    }

    .offer__table {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .offer__icon {
        width: 125px;
        height: 125px;
    }

    /* .offer__header {
        font-size: 16px;
    }

    .offer__descr,
    .offer__submit {
        font-size: 14px;
    }

    .offer__table {
        font-size: 12px;
    } */
}

@media (max-width: 900px) {
    .catalog {
        grid-template-columns: 1fr;
    }

    .miniature__header {
        text-align: center;
    }

    .offer {
        display: flex;
        justify-content: center;
    }

    .offer__header {
        font-size: 20px;
    }

    .offer__descr {
        font-size: 18px;
    }

    .offer__table,
    .offer__submit {
        font-size: 16px;
    }
}

@media (max-width: 475px) {
    .offer__icon {
        display: none;
    }
}